h1{
  color: black;
background-color: #C78A3B;
font-size: 200%;
text-align:center;
}

p{color: #708A52; font-size: 80%;
  text-align: center;
}

body{background-color:beige;font-family: serif;

}

img{width: 50%}

p{color :#708A52;
 font-size:100%; text-align: center;
 }
p{color :#708A52;
font-size: 100%;
text-align: center;
 }

.sidenav {
  height: 100%;
  width: 210px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #C78A3B;
  overflow-x: hidden;
  padding-top: 20px;
}
 .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 210px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

img{
 display:block;
 margin:0 auto;
 border-radius:20px;
 max-width:450px;
}

.photos{display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content:center;}

.photo{background: #C78A3B;
  text-decoration-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(255, 107, 157, 0.15);
    max-width: 300px;
    transition: transform 0.3s ease;}

.photo:hover{transform: translateY(-10px);
}

.photo img{ width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;}

.photo a{padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;}

.photo a:hover {
  color: #f1f1f1;
}

