h1{color: #819067;
background-color: beige;
font-size: 300%;
text-align:center;}
p{color: #708A48; font-size: 160%;
}
body{background-color:beige;font-family: serif;
}
p1{color :#819067;
 font-size:160%;
 }
p2{color :#708A48;
font-size: 160%;
 }

