h1{color: #819067;
background-color: beige;
font-size: 300%;
text-align:center;}
p{color: #708A48; font-size: 160%;
}
body{background-color:beige;font-family: serif;
}
p1{color :#819067;
 font-size:160%;
 }
p2{color :#708A48;
font-size: 160%;
 }
 .sidenav{height: 100% 
 	width:160%
 	position:fixed;
 	z-index: 1;
 	top:0;
 	left:0;
 	right:0;
 	background-color: #A76545;
 	overflow-x: hidden;
 	padding-top: 20px;}
 	.sidenav a{padding: 6% 8% 6% 16%;
 		text-decoration:none;
 		font-size: 100%
 		color:#818181;}